$content-width: 1366px;
$content-height: 768px;

$color-grey: rgb(153, 153, 153);
$color-standard-grey: rgb(221, 221, 221);
$color-grey-dark: rgb(203, 205, 214);
$color-white-smoke: rgb(233, 233, 233);
$color-white: rgb(255, 255, 255);
$color-sky-blue: $color-amway-light-blue;
$color-dark-blue: rgb(0, 47, 95);
$color-punch-red: rgb(220, 53, 69);
$color-pacific-blue: $color-amway-blue;
$color-teal: rgb(0, 175, 188);
$color-material-blue: rgb(63, 81, 181);